.container {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin: auto;
}
.container > div {
  background-color: white;
  display: inline-block;
  height: 10px;
  width: 10px;
}

div .hovered {
  background-color: #666;
}

#everything {
  width: 400px;
  height: 500px;
  margin: auto;
}

#clear {
  float: right;
  margin-top: 10px;
}

div .cleared {
  background-color: white;
}
